@{
    ViewBag.Title = "Home Page";
}
<p>[Add paragraph here about 72 hour rule. Will get verbiage from Fiorella]</p>
<p>Only Regis faculty and staff may reserve parking spaces.</p>
<p>Please log into your account using your Regis login credentials.</p>
<!--Login form-->

<!--End login form-->