<p>
    @Html.ActionLink("Back to Reservations", "Index", "Reservations")
</p>
<h2>Permit Information Has Been Sent</h2>
<p>Thank you for your permit request. Please check your email for permit information and an attached permit.</p>
