@model VIP_Parking.Models.Database.Department

@{
    ViewBag.Title = "Details";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Department Details</title>
</head>
<body>
    <div>
        <h4>Department Details</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("Department Name")
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Dept_name)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Dept_ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
